<%- include('partials/header'); -%>
<h1>About</h1>
<p>I am Currently a student at GLS University.I create projects for building my portfolio.I am trying to apply all the knowledge i learnt form everywhere.This is my First Full Stack website.</p>
<%- include('partials/footer'); -%>