<%- include('partials/header'); -%>
<h1>Contact</h1>
<p><%= conContent %></p>
<div class="container icons">
    
   <a href="https://www.facebook.com/abdullah.memon.353"> <i class="bi bi-facebook fa-4x"></i></a>
    
  <a href="https://instagram.com/abdullah__6702">  <i class="bi bi-instagram fa-2x"></i></a>
   <a href="https://www.linkedin.com/in/abdullah-memon-0072681a9"> <i class="bi bi-linkedin fa-2x"></i></a>
    
    <a  href="mailto:<%= emailid %> "><i style="text-decoration: none;" class="bi bi-envelope-fill fa-2x"></i></a>
    
  </div>
<%- include('partials/footer'); -%>